.container {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    place-items: center;
    grid-template-columns: 0.1fr 2fr 1.8fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "first second third fourth";
}


.icon {
    grid-area: first;
    padding: 10px;
}

.name {
    grid-area: second;
    place-self: center start;
}

.spacer {
    grid-area: third;
    place-self: center end;
}

.spacer::after {
    content: "......";
}

.score {
    grid-area: fourth;
    place-self: center start;
}

.selected {
    background-color: var(--color-white);
    color: var(--color-red);
}
