.container {
    display: flex;
    flex-direction: column;
}

.grid {
    width: 400px;
    display: grid;
    place-items: start;
    grid-template-columns: 0.1fr 2fr 1.8fr 1.3fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "first second third fourth";
}


.icon {
    grid-area: first;
    margin: 0 15px 15px 0;
    text-align: center;
}

.name {
    grid-area: second;
}

.spacer {
    grid-area: third;
    place-self: start;
}

.spacer::after {
    content: "......";
}

.score {
    grid-area: fourth;
}

.selected {
    background-color: var(--color-white);
    color: var(--color-red);
}
