.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 20px;
    cursor: pointer;
}

.text {
    line-height: calc(var(--font-size-medium) / 2);
    padding-top: calc(var(--font-size-medium) / 2);
}

.correct {
    color: var(--color-green);
}

.incorrect {
    color: var(--color-red);
}
