.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.button {

}

.text {
    width: 440px;
}

.correct {
    color: var(--color-green);
}

.incorrect {
    color: var(--color-red);
}
