.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100%;
}

.timer {
    color: var(--color-red);
    font-family: var(--font-contra);
    font-size: var(--font-size-xlarge);
    padding-top: 101px;
}

.controls {
    width: 470px;
    height: 322px;
    background-image: url("../../images/elements/joypad.svg");
    background-repeat: no-repeat;
    margin-top: 75px;
}

.heading {
    font-size: var(--font-size-medium);
    padding-top: 65px;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
}
