.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    z-index:2;
}

.timer {
    color: var(--color-red);
    font-family: var(--font-contra);
    font-size: var(--font-size-xlarge);
    padding-top: 101px;
}

.heading {
    font-size: var(--font-size-medium);
    padding: 80px 0;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
}

.text {
    font-family: var(--font-contra);
    font-size: var(--font-size-xsmall);
    color: var(--color-red);
}

.button {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding-top: 80px;
}


