:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red: #FF6163;
    --color-green: #97CF26;
}

.app {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-image: url("./images/elements/Background.png");
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    text-transform: uppercase;
}

.app a {
    color: #ffffff;
    text-decoration: none;
}
