.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > * {
    margin-bottom: 40px;
}

.name {
    font-size: var(--font-size-medium);
}

.ready {
    font-family: var(--font-contra);
    color: var(--color-green);
    font-size: var(--font-size-small);
}

.notReady {
    color: var(--color-red);
}

.scoreContainer {
    color: var(--color-red);
    text-align: center;
    font-size: var(--font-size-medium);
}
.scoreAdd {
    font-family: var(--font-contra);
    color: var(--color-red);
    text-align: center;
    font-size: var(--font-size-small);
}
.score{
    font-family: var(--font-contra);
}
