@font-face {
    font-family: "BK0010";
    src: url("./fonts/BK0010.ttf");
}

@font-face {
    font-family: "Contra";
    src: url("./fonts/Contra.ttf");
}

html, body, #__next {
    margin: 0;
    height: 100%;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red: #FF6163;
    --color-green: #97CF26;

    --font-size-xsmall: 24px;
    --font-size-small: 39px;
    --font-size-ms: 47px;
    --font-size-medium: 78px;
    --font-size-large: 120px;
    --font-size-xlarge: 170px;

    --font-bk0010: BK0010, monospace;
    --font-contra: Contra, monospace;

    --rotation-angle: 1deg;
    --scale: 1.05;
    --animation: 2s;
}

/*Media queries for font size*/

@media screen and (max-width: 1600px), screen and (max-height: 1200px)  {
    :root {
        --font-size-xsmall: 18px;
        --font-size-small: 35px;
        --font-size-ms: 39px;
        --font-size-medium: 66px;
        --font-size-large: 100px;
        --font-size-xlarge: 141px;
    }
}

@media screen and (max-width: 1400px), screen and (max-height: 1000px)  {
    :root {
        --font-size-xsmall: 16px;
        --font-size-small: 27px;
        --font-size-ms: 31px;
        --font-size-medium: 53px;
        --font-size-large: 80px;
        --font-size-xlarge: 113px;
    }
}

@media screen and (max-width: 1200px), screen and (max-height: 800px) {
    :root {
        --font-size-xsmall: 12px;
        --font-size-small: 20px;
        --font-size-ms: 23px;
        --font-size-medium: 39px;
        --font-size-large: 60px;
        --font-size-xlarge: 85px;
    }
}
