.container {
    display: flex;
    flex-direction: column;
    padding-top: 29px;
}

.grid {
    display: grid;
    place-items: center;
    grid-template-columns: 0.1fr 2fr 1.8fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "first second third fourth";

    font-size: var(--font-size-medium);
}


.icon {
    grid-area: first;
    padding: 10px;
}

.name {
    grid-area: second;
    place-self: center start;
}

.spacer {
    grid-area: third;
    place-self: center end;
}

.spacer::after {
    content: "......";
    padding-right: 10px;
}

.count {
    grid-area: fourth;
    place-self: center start;
}

.selected {
    background-color: var(--color-white);
    color: var(--color-red);
}
