.column {
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.inputs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    padding: 20px;
    font-family: var(--font-contra);
    font-size: var(--font-size-small);
    color: var(--color-red);
}

.header {
    font-size: var(--font-size-large);
}

.nickNameHeader {
    font-size: var(--font-size-medium);
    padding-top: 73px;
}

.controlsHeader {
    color: var(--color-red);
    font-size: var(--font-size-medium);
    padding-top: 20px;
}

.button {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 80px 20px 20px 20px;
}
