.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 112px;
    font-size: var(--font-size-medium);
}

.text {
    font-family: var(--font-contra);
    font-size: var(--font-size-small);
    color: var(--color-red);
}

.nickNameHeader {
    padding-top: 73px;
}

.nickName {
    color: var(--color-red);
    font-size: var(--font-size-xlarge);
}

.controlsHeader {
    color: var(--color-red);
    font-size: var(--font-size-medium);
    padding-top: 20px;
}
