.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 112px;
}

.text {
    font-family: var(--font-contra);
    font-size: var(--font-size-xsmall);
    color: var(--color-red);
}

.nickNameHeader {
    font-size: var(--font-size-medium);
    padding-top: 100px;
}

.controlsHeader {
    color: var(--color-red);
}
