.title {
    text-align: center;
    z-index: 2;
    padding: 10px 0;
    flex: 0 0 auto;
    font-size: var(--font-size-ms);
}

.headerAnimation {
    animation:scale var(--animation) ease-in-out infinite;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    flex: 0 0 auto;
    z-index: 2;
}

.text {
    font-family: var(--font-contra);
    font-size: var(--font-size-small);
    color: var(--color-red);
    flex: 0 0 auto;
    z-index: 2;
}

.button {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.textWhite {
    color: var(--color-white);
}