:root {
    --rotation-angle: 1deg;
    --scale: 1.05;
    --animation: 2s;
}

.shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-image: url("../../images/Shapes.png");
    background-repeat: no-repeat;
    background-position: center center;
    animation:spin var(--animation) ease-in-out infinite;
}

.title {
    position: absolute;
    top: 60px;
    left: 0;
    width: inherit;
    text-align: center;
    z-index: 2;
}

.headerAnimation {
    animation:scale var(--animation) ease-in-out infinite;
}

.header {
    width: 100%;
    height: 337px;
    background-image: url("../../images/text/title_1.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 160px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}



@keyframes spin {
    0% {
        transform:rotate(calc(var(--rotation-angle) * -1));
    }
    50% {
        transform:rotate(var(--rotation-angle));
    }
    100% {
        transform:rotate(calc(var(--rotation-angle) * -1));
    }
}

@keyframes scale {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(var(--scale), var(--scale));
    }
    100% {
        transform: scale(1, 1);
    }
}

.text {
    font-family: Contra;
    font-size: 24px;
    color: var(--color-red);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}
