.root {
    height: 90px;
    background-repeat: no-repeat;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 10px;
}

.start {
    width: 380px;
    background-image: url("../../images/buttons/start.png");
}

.ok {
    width: 250px;
    background-image: url("../../images/buttons/ok.png");
}