.root {
    width: 380px;
    height: 90px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.start {

    background-image: url("../../images/buttons/start.png");
}

.ok {
    background-image: url("../../images/buttons/ok.png");
}