.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header {
    width: 80%;
    height: 267px;
    background-image: url("../../images/text/ready.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.okButton {
    position: absolute;
    bottom: 10%
}
