.root {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 267px;
    background-image: url("../../images/text/02.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 200px;
}

.image {
    width: 59px;
    height: 59px;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    align-self: center;
    padding-top: 100px;
}

.players > * {
    min-width: 400px;
}
