.input {
    color: var(--color-white);
    font-family: var(--font-bk0010);
    font-size: var(--font-size-xlarge);
    background-color: transparent;
    width: 100%;
    border: 9px solid var(--color-white);
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 5px;
}