.grid {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
    flex: 0 0 auto;
}

.left, .right {
    flex: 0 0 auto;
    padding: 0 100px;
    padding-top: 100px;
}

.screen {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footer {
    font-size: var(--font-size-medium);
}

@media screen and (max-width: 1200px) {
    .left, .right {
        width: 50%;
        padding: 0;
        border-top: 0 !important;
    }

    .left {
        order: 1;
    }

    .right {
        order: 2;
    }

    .screen {
        order: 3;
        width: 80%;
        flex: 0 0 auto;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
}

