.screen {
    position: relative;
    background-image: url("../../images/elements/frame.svg");
    width: 1000px;
    height: 656px;
}

.image {
    position: relative;
    left: 11px;
    width: 978px;
    top: 104px;
    height: 540px;
}

.screenText {
    font-family: var(--font-contra);
    font-size: var(--font-size-medium);
}

.screenHeaderContainer {
    position: absolute;
    left: 244px;
    width: 512px;
    height: 100px;

    font-family: var(--font-contra);
    font-size: var(--font-size-small);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.screenTextRound {
    display: inline-block;
    color: var(--color-black);
}
.screenTextTimer {
    display: inline-block;
    color: var(--color-red);
}


/*------------Grid Styles---------------*/

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 400px auto 400px;
    grid-template-rows: auto 230px;
    grid-template-areas:
            "player1 screen player2"
            "footer footer footer";
    align-items: center;
    justify-items: center;
}

.player1 {
    grid-area: player1;
}

.player2 {
    grid-area: player2;
}

.screen {
    grid-area: screen;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

