.root {
    color: var(--color-red);
    text-align: center;
    font-size: var(--font-size-medium);
}

.lines {
    border-top: 9px solid var(--color-white);
    border-bottom: 9px solid var(--color-white);
    padding-bottom: 20px;
}

.text {
    text-align: center;
    color: var(--color-white);
}

.countAdd {
    font-family: var(--font-contra);
    text-align: center;
    font-size: var(--font-size-small);
    padding: 20px 0;
}

.count{
    font-family: var(--font-contra);
}


@media screen and (max-width: 1200px) {
    .lines {
        border-top: none;
        border-bottom: none;
        padding: 0;
    }
}